*.o
**/*Makefile.in
*.Po
*.a
out/
components/affinity_tools/affinity_tools
components/bunch_of_tasks/bunch_of_tasks
components/ftrace/ftrace_android
components/hwbreakpoint_assets/breakpoint_test
components/pmu_assets/branch
components/pmu_assets/cache
components/pmu_assets/cycles
components/tasklibrary/tasklibrary
components/testrunner/testrunner
buildlog*.txt
testrun*.tar.gz
build/configuration/schedtest-config*
schedtest_*.zip
build/deployment/linux/ssh_config
build/platforms/calib*.txt
